@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/variables';

.product-item {
    text-align: center;
    cursor: pointer;
    padding-bottom: 1%;

    &:hover {
        box-shadow: $color-product-item-box 0px 0px 20px;
        z-index: 1;
    }

    .product-thumb {
        img {
            max-width: 100%;
        }
    }

    .product-price {
        color: $color-sweet-red;
        font-weight: bold;
        .discount {
            background: $color-red;
            color: $color-white;
            @include border-radius(3);
            margin-left: 10px;
            font-size: 12px;
            padding: 2px;
        }
    }
}