@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/variables';

.product-detail-price {
    display: flex;
    .final-price {
        color: $color-red;
        font-size: 40px;
        @include non-desktop {
            font-size: 25px;
        }
        font-weight: bold;
    }
    .original-price {
        text-decoration: line-through;
        margin-top: 30px;
        margin-left: 30px;
    }
    .discount {
        background-color: $color-red;
        text-transform: uppercase;
        height: fit-content;
        color: $color-white;
        font-weight: bold;
        margin: 0 auto;
        @include border-radius(3);
        padding: 0.5%;
    }
}