@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/variables';

.product-info {
    .product-name {
        font-size: 30px;
        font-weight: bold;
    }
    .product-detail-price {
        background-color: $color-bg;
        padding: 2%;
        @include border-radius(5);
        margin-top: 2%;
    }
    .quantity-input {
        width: 20%;
        @include small-devices {
            width: 40%;
        }
    }
}