$desktop-width: 992px;

@mixin non-desktop { @media only screen and (max-width: $desktop-width - 1) {
        @content;
    }
}

@mixin border-radius($numberOfPx) {
    -moz-border-radius: #{$numberOfPx}px;
    -webkit-border-radius: #{$numberOfPx}px;
    -ms-border-radius: #{$numberOfPx}px;
    -o-border-radius: #{$numberOfPx}px;
    border-radius: #{$numberOfPx}px;
}

@mixin  boder-b-colorSts($number) {
    border-bottom: #{$number}px $color-solo-travel-shop solid;
}