@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.contact-box {
    display: grid;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    img {
        margin-top: 10%;
    }
    @include small-devices {
        display: inline;
        text-align: center;
        right: 15px;
        width: 100%;
        img {
            margin-right: 1%;
            width: 13%;
        }
    }
}