@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.contact-box {
    display: grid;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
    @include non-desktop {
        display: inline;
        text-align: center;
        right: 15px;
        bottom: 40px;
        width: 100%;
    }
    img {
        margin-top: 10%;
    }
}