@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

body {
    background-color: $color-bg !important;
}

.wrap {
    margin-top: calc(130px + 0.5%);
    margin-bottom: 2%;
    .container {
        padding-right: 0;
        padding-left: 0;
        .row {
            margin-right: 0;
            margin-left: 0;
            .col-lg-3 {
                padding-left: 0;
            }
        }
        .content {
            margin-top: 2%;
        }

        @include non-desktop {
            width: 100%;
            .side-bar {
                display: none;
            }
        }
    }
}

