@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.footer {
    background: $color-white;
    .copyright {
        text-align: center;
        margin: auto;
        padding: 2%;
    }
}