@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.footer {
    background: $color-white;
    font-weight: 500;
    .copyright {
        text-align: center;
        margin: auto;
        padding: 2%;
        span {
            color: $color-solo-travel-shop;
            cursor: pointer;
        }
    }
}