@import '../../../assets/scss/colors';
@import '../../../assets/scss/variables';

.cart {
    // background-color: $color-white;
    // margin-bottom: 2%;
    // padding: 2%;
    .cart-list {
        background-color: $color-white;
        padding: 2%;
    }
    .check-out {
        background-color: $color-white;
        padding: 2%;
        //position: fixed;
    }
    .btn-check-out {
        width: 100%;
        margin-top: 5%;
    }
}
.cart-item {
    img {
        width: 100%;
    }
    .quantity-input {
        //width: 60%;
    }
}