@import '../../../../assets/scss/colors';
@import '../../../../assets/scss/variables';

.custom-toast {
    z-index: 3000;
    &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        right: 36px;
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent rgb(255, 255, 255);
        border-image: initial;
    }
    .toast-body {
        background-color: $color-white;
    }
    .check-circle {
        padding-right: 5px;
    }
}