@import '../../../assets/scss/colors';
@import '../../../assets/scss/variables';

.product-detail-box {
    background-color: #fff;
    margin-bottom: 2%;
    padding: 2%;
    .product-detail-box-title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 1%;
        @include boder-b-colorSts(2);
    }
}