@import '../../../assets/scss/colors';
@import '../../../assets/scss/variables';

.customer-review {
    .average-point {
        font-size: 80px;
        font-weight: bold;
        text-align: center;
        line-height: 1;
    }
    .product-star {
        text-align: center;
    }
    .total-reviews {
        text-align: center;
    }
    .review-list {
        margin-top: 2%;
        .no-review {
            padding-top: 40px;
            text-align: center;
            p {
                font-weight: 500;
            }
        }
    }
}