.user-layout {
    display: flex;
    .content-row {
        width: 100%;
    }
    .box {
        padding: 2%;
    }
    .order-side-bar {
        padding: 0.5%;
    }
    .box-content {
        padding: 0.5%;
    }
}