@import '../../assets/scss/colors';
@import '../../assets/scss/variables';

.product-box {
    background-color: $color-white;
    padding: 2%;
    margin-bottom: 2%;
    @include border-radius(5);

    .box-title {
        text-transform: uppercase;
        font-weight: bold;
        @include boder-b-colorSts(2);
        margin-bottom: 2%;
    }
}